@import './variables.css';

@media screen and (max-width: 1020px) {

    .flex {
        flex-direction: column;
    }

    /* Header */
    header .interface {
        justify-content: start;
    }

    header .btn-contato {
        display: none;
    }

    .menu-desktop {
        display: none;
    }

    /* Seção Principal */
    .section--principal {
        padding: 2rem 8%;
    }

        .section--principal .flex {
            flex-direction: column-reverse;
            gap: 1.5rem;
        }

        .section--principal .section--left {
            padding-inline: 0;
        }

            .section--principal .section--left .section--title {
                font-size: 1.7rem;
            }

        .section--principal .section--rigth img {
            margin: auto;
        }

    /* Especialidades */
    .title--especialidades {
        font-size: 2rem;
        line-height: 1;
    }

    .especialidades {
        padding: 4rem 9%;
    }

    .img-port {
        width: calc(50% - 20px); /* 2 itens por linha */
    }
}

@media screen and (max-width: 768px) {

    .menu-toggle {
        display: block; /* Exibe o botão mobile */
    }

    .menu-desktop {
        display: none; /* Esconde o menu desktop */
    }

    .logo {
        flex-basis: 100%; /* A logo ocupa 100% da largura */
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        padding-top: 1rem; /* Espaço entre a logo e o menu */
    }

    .btn-contato {
        margin: 1rem auto; /* Centraliza o botão */
        width: 100%;
        text-align: center;
    }

        .btn-contato button {
            width: auto;
            padding: 0.5rem 2rem; /* Ajusta tamanho do botão */
        }

    .img-port {
        width: calc(100% - 20px); /* 1 item por linha */
    }

    .section-spacing {
        margin-block: 2rem; /* Reduz o espaçamento em telas pequenas */
    }

    .footer-container {
        flex-direction: column;
        gap: 1rem;
    }

    .logo-footer img {
        max-width: 80px;
    }

    .rights-footer {
        font-size: 0.75rem;
    }

    .social-footer a {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {

    .flex {
        flex-direction: column;
    }

    /* Header */
    header .interface {
        justify-content: start;
    }

    header .btn-contato {
        display: none;
    }

    .menu-desktop {
        display: none;
    }

    /* Seção Principal */
    .section--principal {
        padding: 2rem 8%;
    }

        .section--principal .flex {
            flex-direction: column-reverse;
            gap: 1.5rem;
        }

        .section--principal .section--left {
            padding-inline: 0;
        }

            .section--principal .section--left .section--title {
                font-size: 1.7rem;
            }

        .section--principal .section--rigth img {
            margin: auto;
        }

    /* Especialidades */
    .title--especialidades {
        font-size: 2rem;
        line-height: 1;
    }

    .especialidades {
        padding: 4rem 9%;
    }

    .logo-footer img {
        max-width: 60px;
    }

    .rights-footer {
        font-size: 0.65rem;
    }

    .social-footer a {
        width: 25px;
        height: 25px;
        font-size: 0.9rem;
    }
}
