@import '../../styles/variables.css';

/* Flex layout */
.flex-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

/* Animações reutilizáveis */
@keyframes floatAnimation {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

@media screen and (max-width: 1020px) {
    .flex-container {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .flex-container {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
}
